<section class="page-about section">
  <div class="container">
    <div class="about-main-box">
      <div class="about-text-container">
        <h2 class="about-title">About Us</h2>
        <p class="about-primary-text">
          The store "Vyshyvanka Vibes" is a place where traditional Ukrainian
          vyshyvanka comes to life with new zest and style. Our store offers a
          wide selection of high-quality and authentic embroidery, which
          combines the elegance of traditional needlework and modern design.
        </p>
        <p class="about-secondary-text">
          In "Vyshyvanka Vibes" you will find various models of embroidery, from
          classic to modern, corresponding to the latest fashion trends. Our
          embroidery is made using natural fabrics and is embroidered by highly
          qualified craftsmen who convey the beauty of Ukrainian culture in
          every detail.We believe that vyshyvanka is not just clothing, but a
          symbol of national pride, the heritage of our ancestors and a way of
          expressing one's individuality. Each embroidery from "Vyshyvanka
          Vibes" has its own unique history and symbolism, which gives it a
          special meaning.
        </p>
      </div>
      <picture>
        <source
          srcset="
            ./img/about/about-girl-desktop.jpg    1x,
            ./img/about/about-girl-desktop@2x.jpg 2x
          "
          type="image/jpg"
          media="(min-width: 1280px)"
        />
        <source
          srcset="
            ./img/about/about-girl-desktop.webp    1x,
            ./img/about/about-girl-desktop@2x.webp 2x
          "
          type="image/webp"
          media="(min-width: 1280px)"
        />
        <source
          srcset="
            ./img/about/about-tablet.jpg    1x,
            ./img/about/about-tablet@2x.jpg 2x
          "
          type="image/jpg"
          media="(min-width: 768px)"
        />
        <source
          srcset="
            ./img/about/about-tablet.webp    1x,
            ./img/about/about-tablet@2x.webp 2x
          "
          type="image/webp"
          media="(min-width: 768px)"
        />
        <source
          srcset="
            ./img/about/about-mobile.jpg    1x,
            ./img/about/about-mobile@2x.jpg 2x
          "
          type="image/jpg"
          media="(max-width: 767px)"
        />
        <source
          srcset="
            ./img/about/about-mobile.webp    1x,
            ./img/about/about-mobile@2x.webp 2x
          "
          type="image/webp"
          media="(max-width: 767px)"
        />

        <img
          class="girl-img"
          src="./img/about/about-mobile.jpg"
          alt="girl"
          loading="lazy"
        />
      </picture>
    </div>
  </div>
</section>
