<section class="page-about section">
  <div class="about-ornament">
    <div class="container">
      <div class="about-main-box">
        <div class="about-text-container">
          <h2 class="about-title">About Us</h2>
          <p class="about-primary-text">
            The store "Vyshyvanka Vibes" is a place where traditional Ukrainian
            vyshyvanka comes to life with new zest and style. Our store offers a
            wide selection of high-quality and authentic embroidery, which
            combines the elegance of traditional needlework and modern design.
          </p>
          <p class="about-secondary-text">
            In "Vyshyvanka Vibes" you will find various models of embroidery,
            from classic to modern, corresponding to the latest fashion trends.
            Our embroidery is made using natural fabrics and is embroidered by
            highly qualified craftsmen who convey the beauty of Ukrainian
            culture in every detail.We believe that vyshyvanka is not just
            clothing, but a symbol of national pride, the heritage of our
            ancestors and a way of expressing one's individuality. Each
            embroidery from "Vyshyvanka Vibes" has its own unique history and
            symbolism, which gives it a special meaning.
          </p>
        </div>
        <picture>
          <source
            media="(min-width:1280px)"
            srcset="
              ./img/about/about-girl-desktop.webp    1x,
              ./img/about/about-girl-desktop@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(min-width:1280px)"
            srcset="
              ./img/about/about-girl-desktop.jpg    1x,
              ./img/about/about-girl-desktop@2x.jpg 2x
            "
            type="image/jpg"
          />
          <source
            media="(min-width:768px)"
            srcset="
              ./img/about/about-girl-tablet.webp    1x,
              ./img/about/about-girl-tablet@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(min-width:768px)"
            srcset="
              ./img/about/about-girl-tablet.jpg    1x,
              ./img/about/about-girl-tablet@2x.jpg 2x
            "
            type="image/jpg"
          />
          <source
            media="(max-width:767px)"
            srcset="
              ./img/about/about-girl-mobile.webp    1x,
              ./img/about/about-girl-mobile@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(max-width:767px)"
            srcset="
              ./img/about/about-girl-mobile.jpg 1x,
              ./img/about/about-girl-mobile.jpg 2x
            "
            type="image/jpg"
          />
          <img
            class="girl-img"
            src="./img/about/about-girl-mobile.jpg"
            alt="vyshyvanka girl"
            loading="lazy"
          />
        </picture>
      </div>
    </div>
    <div class="empty-box" id="collection"></div>
  </div>
</section>
