<section class="collection" id="collection">
  <div class="container">
    <h2 class="collection-title">Our collection</h2>
    <ul class="collection-list">
      <li class="collection-item">
        <picture>
          <source
            media="(min-width:1280px)"
            srcset="
              ./img/collection/collection1-desktop.webp    1x,
              ./img/collection/collection1-desktop@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(min-width:1280px)"
            srcset="
              ./img/collection/collection1-desktop.jpg    1x,
              ./img/collection/collection1-desktop@2x.jpg 2x
            "
            type="image/jpg"
          />
          <source
            media="(min-width:768px)"
            srcset="
              ./img/collection/collection1-tablet.webp    1x,
              ./img/collection/collection1-tablet@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(min-width:768px)"
            srcset="
              ./img/collection/collection1-tablet.jpg    1x,
              ./img/collection/collection1-tablet@2x.jpg 2x
            "
            type="image/jpg"
          />
          <source
            media="(max-width:767px)"
            srcset="
              ./img/collection/collection1-mobile.webp    1x,
              ./img/collection/collection1-mobile@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(max-width:767px)"
            srcset="
              ./img/collection/collection1-mobile.jpg    1x,
              ./img/collection/collection1-mobile@2x.jpg 2x
            "
            type="image/jpg"
          />
          <img
            class="collection-img"
            src="./img/collection/collection1-mobile.jpg"
            alt="poltava's women"
            loading="lazy"
          />
        </picture>
        <h3 class="collection-subtitle">august poltava women's blouse</h3>
        <p class="collection-text">3300 UAH</p>
      </li>
      <li class="collection-item">
        <picture>
          <source
            media="(min-width:1280px)"
            srcset="
              ./img/collection/collection2-desktop.webp    1x,
              ./img/collection/collection2-desktop@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(min-width:1280px)"
            srcset="
              ./img/collection/collection2-desktop.jpg    1x,
              ./img/collection/collection2-desktop@2x.jpg 2x
            "
            type="image/jpg"
          />
          <source
            media="(min-width:768px)"
            srcset="
              ./img/collection/collection2-tablet.webp    1x,
              ./img/collection/collection2-tablet@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(min-width:768px)"
            srcset="
              ./img/collection/collection2-tablet.jpg    1x,
              ./img/collection/collection2-tablet@2x.jpg 2x
            "
            type="image/jpg"
          />
          <source
            media="(max-width:767px)"
            srcset="
              ./img/collection/collection2-mobile.webp    1x,
              ./img/collection/collection2-mobile@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(max-width:767px)"
            srcset="
              ./img/collection/collection2-mobile.jpg    1x,
              ./img/collection/collection2-mobile@2x.jpg 2x
            "
            type="image/jpg"
          />
          <img
            class="collection-img"
            src="./img/collection/collection2-mobile.jpg"
            alt="blouse gorgany"
            loading="lazy"
          />
        </picture>
        <h3 class="collection-subtitle">women's blouse corgany</h3>
        <p class="collection-text">3350 UAH</p>
      </li>
      <li class="collection-item">
        <picture>
          <source
            media="(min-width:1280px)"
            srcset="
              ./img/collection/collection3-desktop.webp    1x,
              ./img/collection/collection3-desktop@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(min-width:1280px)"
            srcset="
              ./img/collection/collection3-desktop.jpg    1x,
              ./img/collection/collection3-desktop@2x.jpg 2x
            "
            type="image/jpg"
          />
          <source
            media="(min-width:768px)"
            srcset="
              ./img/collection/collection3-tablet.webp    1x,
              ./img/collection/collection3-tablet@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(min-width:768px)"
            srcset="
              ./img/collection/collection3-tablet.jpg    1x,
              ./img/collection/collection3-tablet@2x.jpg 2x
            "
            type="image/jpg"
          />
          <source
            media="(max-width:767px)"
            srcset="
              ./img/collection/collection3-mobile.webp    1x,
              ./img/collection/collection3-mobile@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(max-width:767px)"
            srcset="
              ./img/collection/collection3-mobile.jpg    1x,
              ./img/collection/collection3-mobile@2x.jpg 2x
            "
            type="image/jpg"
          />
          <img
            class="collection-img"
            src="./img/collection/collection3-mobile.jpg"
            alt="blouse crimea"
            loading="lazy"
          />
        </picture>
        <h3 class="collection-subtitle">women's blouse crimea</h3>
        <p class="collection-text">4000 UAH</p>
      </li>
      <li class="collection-item">
        <picture>
          <source
            media="(min-width:1280px)"
            srcset="
              ./img/collection/collection4-desktop.webp    1x,
              ./img/collection/collection4-desktop@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(min-width:1280px)"
            srcset="
              ./img/collection/collection4-desktop.jpg    1x,
              ./img/collection/collection4-desktop@2x.jpg 2x
            "
            type="image/jpg"
          />
          <source
            media="(min-width:768px)"
            srcset="
              ./img/collection/collection4-tablet.webp    1x,
              ./img/collection/collection4-tablet@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(min-width:768px)"
            srcset="
              ./img/collection/collection4-tablet.jpg    1x,
              ./img/collection/collection4-tablet@2x.jpg 2x
            "
            type="image/jpg"
          />
          <source
            media="(max-width:767px)"
            srcset="
              ./img/collection/collection4-mobile.webp    1x,
              ./img/collection/collection4-mobile@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(max-width:767px)"
            srcset="
              ./img/collection/collection4-mobile.jpg    1x,
              ./img/collection/collection4-mobile@2x.jpg 2x
            "
            type="image/jpg"
          />
          <img
            class="collection-img"
            src="./img/collection/collection4-mobile.jpg"
            alt="men's shirt verkhovina"
            loading="lazy"
          />
        </picture>
        <h3 class="collection-subtitle">men's shirt verkhovina</h3>
        <p class="collection-text">3100 UAH</p>
      </li>
      <li class="collection-item">
        <picture>
          <source
            media="(min-width:1280px)"
            srcset="
              ./img/collection/collection5-desktop.webp    1x,
              ./img/collection/collection5-desktop@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(min-width:1280px)"
            srcset="
              ./img/collection/collection5-desktop.jpg    1x,
              ./img/collection/collection5-desktop@2x.jpg 2x
            "
            type="image/jpg"
          />
          <source
            media="(min-width:768px)"
            srcset="
              ./img/collection/collection5-tablet.webp    1x,
              ./img/collection/collection5-tablet@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(min-width:768px)"
            srcset="
              ./img/collection/collection5-tablet.jpg    1x,
              ./img/collection/collection5-tablet@2x.jpg 2x
            "
            type="image/jpg"
          />
          <source
            media="(max-width:767px)"
            srcset="
              ./img/collection/collection5-mobile.webp    1x,
              ./img/collection/collection5-mobile@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(max-width:767px)"
            srcset="
              ./img/collection/collection5-mobile.jpg    1x,
              ./img/collection/collection5-mobile@2x.jpg 2x
            "
            type="image/jpg"
          />
          <img
            class="collection-img"
            src="./img/collection/collection5-mobile.jpg"
            alt="mountain men's shirt"
            loading="lazy"
          />
        </picture>
        <h3 class="collection-subtitle">mountain men's shirt</h3>
        <p class="collection-text">3300 UAH</p>
      </li>
      <li class="collection-item">
        <picture>
          <source
            media="(min-width:1280px)"
            srcset="
              ./img/collection/collection6-desktop.webp    1x,
              ./img/collection/collection6-desktop@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(min-width:1280px)"
            srcset="
              ./img/collection/collection6-desktop.jpg    1x,
              ./img/collection/collection6-desktop@2x.jpg 2x
            "
            type="image/jpg"
          />
          <source
            media="(min-width:768px)"
            srcset="
              ./img/collection/collection6-tablet.webp    1x,
              ./img/collection/collection6-tablet@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(min-width:768px)"
            srcset="
              ./img/collection/collection6-tablet.jpg    1x,
              ./img/collection/collection6-tablet@2x.jpg 2x
            "
            type="image/jpg"
          />
          <source
            media="(max-width:767px)"
            srcset="
              ./img/collection/collection6-mobile.webp    1x,
              ./img/collection/collection6-mobile@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(max-width:767px)"
            srcset="
              ./img/collection/collection6-mobile.jpg    1x,
              ./img/collection/collection6-mobile@2x.jpg 2x
            "
            type="image/jpg"
          />
          <img
            class="collection-img"
            src="./img/collection/collection6-mobile.jpg"
            alt="men's shirt yasen"
            loading="lazy"
          />
        </picture>
        <h3 class="collection-subtitle">Men's shirt Yasen</h3>
        <p class="collection-text">1700 UAH</p>
      </li>
    </ul>
  </div>
</section>
