<section class="page-footer">
  <div class="container">
    <ul class="footer-menu">
      <li class="footer-menu-item"><a href="#about"></a>About us</li>
      <li class="footer-menu-item"><a href="#collection"></a>Our collection</li>
      <li class="footer-menu-item"><a href="#order"></a>CUSTOMER ORDER</li>
      <li class="footer-menu-item"><a href="#testimonials"></a>TEstimonials</li>
    </ul>
    <h2 class="footer-text">
      A touch of <span>Ukrainian</span> culture in every embroidery
    </h2>
  </div>
</section>
