<header class="page-header">
  <div class="container header-container">
    <nav class="header-nav">
      <a class="header-logo" href="./index.html">
        <img src="./img/header/logo.svg" alt="Logo" loading="lazy" />
      </a>
      <ul class="header-menu-list">
        <li class="header-menu-item">
          <a class="header-menu-link" href="#about">About us</a>
        </li>
        <li class="header-menu-item">
          <a class="header-menu-link" href="#collection">Our collection</a>
        </li>
        <li class="header-menu-item">
          <a class="header-menu-link" href="#order">CUSTOMER ORDER</a>
        </li>
        <li class="header-menu-item">
          <a class="header-menu-link" href="#testimonials">TEstimonials</a>
        </li>
      </ul>
    </nav>
    <div class="header-block">
      <a class="header-tel" href="tel:+380684439426">+380 (68) 443-94-26</a>
      <ul class="header-media">
        <li class="header-media-item">
          <a
            class="header-media-link"
            href="https://www.facebook.com/goITclub/ "
            target="_blank"
          >
            <svg
              class="header-media-icon"
              width="28"
              height="28"
              aria-label="facebook icon"
            >
              <use href="./img/icons.svg#icon-facebook"></use>
            </svg>
          </a>
        </li>
        <li class="header-media-item">
          <a
            class="header-media-link"
            href="https://www.instagram.com/goitclub/"
            target="_blank"
          >
            <svg
              class="header-media-icon"
              width="28"
              height="28"
              aria-label="instagram icon"
            >
              <use href="./img/icons.svg#icon-instagram"></use>
            </svg>
          </a>
        </li>
        <li class="header-media-item">
          <a
            class="header-media-link"
            href="https://www.youtube.com/c/GoIT"
            target="_blank"
          >
            <svg
              class="header-media-icon"
              width="28"
              height="28"
              aria-label="youtube icon"
            >
              <use href="./img/icons.svg#icon-youtube"></use>
            </svg>
          </a>
        </li>
      </ul>
      <button class="mobile-menu-open-btn js-open-menu" type="button">
        <svg
          class="mobile-menu-btn-icon"
          width="36"
          height="24"
          aria-label="burger icon"
        >
          <use href="./img/icons.svg#icon-burger"></use>
        </svg>
      </button>
    </div>
  </div>
</header>
