<div class="mobile-menu">
    <div class="container mobile-menu-container">
        <button class="mobile-menu-close-btn" type="button">
            <svg class="menu-close-btn-icon" width="36" height="36">
                <use href="./src/img/icons.svg#icon-close"></use>
            </svg> 
        </button>
        <a class="mobile-menu-tel" href="tel:+380684439426">+380 (68) 443-94-26</a>
        <ul class="mobile-menu-list">
            <li><a class="mobile-menu-link" href="#about">ABOUT US</a></li>
            <li><a class="mobile-menu-link" href="#collection">OUR COLLECTION</a></li>
            <li><a class="mobile-menu-link" href="#order">CUSTOMER ORDER</a></li>
            <li><a class="mobile-menu-link" href="#testimonials">TESTIMONIALS</a></li>
        </ul>
    </div>
</div>