<div class="navbar">
    <div class="container navbar-container">
        <button class="navbar-close-btn" type="button">
            <svg class="navbar-close-btn-icon" width="36" height="36">
                <use href="./src/img/icons.svg#icon-close"></use>
            </svg> 
        </button>
        <a class="navbar-tel" href="tel:+380684439426">+380 (68) 443-94-26</a>
        <ul class="navbar-list">
            <li><a class="navbar-list-link" href="#about">ABOUT US</a></li>
            <li><a class="navbar-list-link" href="#collection">OUR COLLECTION</a></li>
            <li><a class="navbar-list-link" href="#order">CUSTOMER ORDER</a></li>
            <li><a class="navbar-list-link" href="#testimonials">TESTIMONIALS</a></li>
        </ul>
    </div>
</div>