.page-about {
  padding-bottom: 9px;
}

.about-ornament {
  padding-bottom: 60px;
  background-image: url(/img/about/about-bg-mobile.png);
  background-repeat: no-repeat;
  background-position: bottom 1px right 0px;
  background-size: auto 408px;
  max-width: 400px;
  margin: 0 auto;

  background-image: url -webkit-image-set('/img/about/about-bg-mobile.webp');
  background-image: image-set('/img/about/about-bg-mobile.webp');
}

@media screen and (min-resolution: 192dpi),
  screen and (min-resolution: 2dppx),
  screen and (min-device-pixel-ratio: 2) {
  .about-ornament {
    background-image: url(/img/about/about-bg-mobile@2x.png);
    background-size: auto 408px;
  }
}

@media screen and (min-resolution: 192dpi),
  screen and (min-resolution: 2dppx),
  screen and (min-device-pixel-ratio: 2) {
  .about-ornament {
    background-image: url -webkit-image-set('/img/about/about-bg-mobile@2x.webp');
    background-image: image-set('/img/about/about-bg-mobile@2x.webp');
  }
}

.about-title {
  margin-bottom: 40px;
  font-size: 32px;
  font-weight: 500;
  line-height: 1.37;
  letter-spacing: -0.03em;
}

@media screen and (max-width: 767px) {
  .about-primary-text {
    margin: 0 auto 20px;
  }

  .about-secondary-text {
    margin: 0 auto;
  }
  .girl-img {
    margin: 50px auto 0;
  }
}

.about-primary-text {
  margin-bottom: 20px;
  font-size: 14px;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.04em;
}
.about-secondary-text {
  margin-bottom: 50px;
  font-size: 14px;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.04em;
}

@media screen and (min-width: 768px) {
  .page-about {
    padding-bottom: 25px;
  }
  .about-title {
    font-size: 44px;
    font-weight: 500;
    line-height: 1.45;
  }
  .about-primary-text {
    font-size: 16px;
    max-width: 704px;
  }
  .about-secondary-text {
    margin-bottom: 40px;
    font-size: 16px;
    max-width: 704px;
  }
  .about-ornament {
    padding-bottom: 60px;
    background-image: url(/img/about/about-bg-tablet.png);
    background-repeat: no-repeat;
    background-position: bottom 1px right -5px;
    background-size: auto 484px;
    max-width: 768px;
    background-image: url -webkit-image-set('/img/about/about-bg-tablet.webp');
    background-image: image-set('/img/about/about-bg-tablet.webp');
  }
  @media screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx),
    screen and (min-device-pixel-ratio: 2) {
    .about-ornament {
      background-image: url(/img/about/about-bg-tablet@2x.png);
      background-size: auto 484px;
    }
  }
  @media screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx),
    screen and (min-device-pixel-ratio: 2) {
    .about-ornament {
      background-image: -webkit-image-set('/img/about/about-bg-tablet@2x.webp');
      background-image: image-set('/img/about/about-bg-tablet@2x.webp');
    }
  }
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .girl-img {
    margin-top: 40px;
  }
}

@media screen and (min-width: 1280px) {
  .about-ornament {
    padding-bottom: 80px;
    background-image: url(/img/about/about-bg-desktop.png);
    background-repeat: no-repeat;
    background-position: bottom 0px right 0px;
    background-size: auto 484px;
    max-width: 1280px;
    background-image: -webkit-image-set('/img/about/about-bg-desktop.webp');
    background-image: image-set('/img/about/about-bg-desktop.webp');
  }

  @media screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx),
    screen and (min-device-pixel-ratio: 2) {
    .about-ornament {
      background-image: url(/img/about/about-bg-desktop@2x.png);
      background-size: auto 484px;
    }
  }
  @media screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx),
    screen and (min-device-pixel-ratio: 2) {
    .about-ornament {
      background-image: -webkit-image-set(
        '/img/about/about-bg-desktop@2x.webp'
      );
      background-image: image-set('/img/about/about-bg-desktop@2x.webp');
    }
  }
  .about-main-box {
    display: flex;
    gap: 50px;
    justify-content: center;
    align-items: center;
  }

  .about-text-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 436px;
  }
  .page-about {
    padding-bottom: 35px;
  }
}
