.collection {
  display: block;
  background-image: url(/img/collection/collection-bg-mobile.png);
  background-repeat: no-repeat;
  background-position: left 283px;
  padding-top: 18px;
  padding-bottom: 80px;
}

.collection-title {
  text-align: center;
  margin-bottom: 40px;
  font-weight: 500;
  font-size: 32px;
  line-height: 1.37;
  letter-spacing: -0.03em;
}

.collection-list {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}

.collection-img {
  border-radius: 4px;
  margin-bottom: 18px;
}

.collection-subtitle {
  overflow: hidden;
  font-size: 14px;
  font-weight: 500;
  line-height: 1;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  margin-bottom: 8px;
}

.collection-text {
  font-size: 14px;
  font-weight: 400;
  line-height: 1;
  letter-spacing: 0.05em;
}

@media screen and (min-width: 768px) {
  .collection {
    background-image: url(/img/collection/collection-bg-tablet.png);
    background-position: left 260px;
    padding-top: 50px;
    padding-bottom: 100px;
  }

  .collection-title {
    font-size: 44px;
    line-height: 1.45;
    letter-spacing: -0.03em;
  }

  .collection-item {
    width: calc((100% - 20px) / 2);
  }

  .collection-subtitle {
    font-size: 18px;
    text-overflow: ellipsis;
    overflow: hidden;
    line-height: 1;
    letter-spacing: 0.05em;
    white-space: nowrap;
  }

  .collection-text {
    font-size: 18px;
    line-height: 1;
  }
}

@media screen and (min-width: 1280px) {
  .collection {
    background-image: url(/img/collection/collection-bg-desktop.png);
    background-position: left 279px;
    background-size: auto;
    padding-top: 70px;
    padding-bottom: 150px;
  }
}

.collection-list {
  row-gap: 40px;
}

@media screen and (min-width: 1280px) {
  .collection-item {
    width: calc((100% - 40px) / 3);
  }
}
