.page-collection {
  padding-top: 9px;
  padding-bottom: 40px;
}

.collection-ornament {
  background-image: url(/img/collection/collection-bg-mobile.png);
  background-repeat: no-repeat;
  background-position: left 0px top 241px;
  background-size: auto 177px;
  max-width: 320px;
  margin: 0 auto;
}

@media screen and (min-resolution: 192dpi),
  screen and (min-resolution: 2dppx),
  screen and (min-device-pixel-ratio: 2) {
  .collection-ornament {
    background-image: url(/img/collection/collection-bg-mobile@2x.png);
    background-size: auto 177px;
  }
}

.collection-title {
  text-align: center;
  margin-bottom: 40px;
  font-weight: 500;
  font-size: 32px;
  line-height: 1.37;
  letter-spacing: -0.03em;
}

.collection-list {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.collection-img {
  border-radius: 4px;
  margin-bottom: 18px;
}

.collection-subtitle {
  overflow: hidden;
  font-size: 14px;
  font-weight: 500;
  line-height: 1;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  margin-bottom: 8px;
}

.collection-text {
  font-size: 14px;
  font-weight: 400;
  line-height: 1;
  letter-spacing: 0.05em;
}

@media screen and (min-width: 768px) {
  .page-collection {
    padding-top: 25px;
    padding-bottom: 50px;
  }

  .collection-ornament {
    background-image: url(/img/collection/collection-bg-tablet.png);
    background-position: left 29px top 322px;
    max-width: 768px;
  }

  @media screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx),
    screen and (min-device-pixel-ratio: 2) {
    .collection-ornament {
      background-image: url(/img/collection/collection-bg-tablet@2x.png);
      background-size: auto 300px;
      background-position: left 17px top 200px;
    }
  }

  .collection-title {
    font-size: 44px;
    line-height: 1.45;
    letter-spacing: -0.03em;
  }

  .collection-item {
    width: calc((100% - 80px) / 2);
  }

  .collection-subtitle {
    font-size: 18px;
    text-overflow: ellipsis;
    overflow: hidden;
    line-height: 1;
    letter-spacing: 0.05em;
    white-space: nowrap;
  }

  .collection-text {
    font-size: 18px;
    line-height: 1;
  }
}

@media screen and (max-width: 1279px) {
  .collection-list {
    gap: 20px;
  }
}

@media screen and (min-width: 1280px) {
  .page-collection {
    padding-top: 35px;
    padding-bottom: 75px;
  }

  .collection-ornament {
    background-image: url(/img/collection/collection-bg-desktop.png);
    background-position: left -2px top 220px;
    background-size: auto 300px;
    max-width: 1280px;
  }

  @media screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx),
    screen and (min-device-pixel-ratio: 2) {
    .collection-ornament {
      background-image: url(/img/collection/collection-bg-desktop@2x.png);
      background-size: auto 300px;
      /* background-position: left 17px top 223px; */
    }
  }

  .collection-list {
    column-gap: 20px;
    row-gap: 40px;
  }
  .collection-item {
    width: calc((100% - 77px) / 3); /*235*/
  }
}
