.footer-menu-link {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.28;
  text-transform: uppercase;

  transition: color var(--tns-cubic);
}

.footer-menu-link:focus,
.footer-menu-link:hover {
  color: var(--clr-yellow);
}

.footer-menu {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  row-gap: 25px;
  align-items: flex-start;
  column-gap: 30px;
  margin-bottom: 40px;
}
@media screen and (max-width: 767px) {
  .footer-menu {
    max-width: 290px;
  }
  .footer-menu-item-first {
    order: 1;
    width: calc((100% - 60px) / 2);
  }
  .footer-menu-item-second {
    order: 3;
  }
  .footer-menu-item-third {
    order: 2;
  }
  .footer-menu-item-forth {
    order: 4;
  }
  .page-footer {
    padding: 40px 0 292px;
    border-top: 1px solid rgba(252, 249, 249, 0.1);
    background-image: url(/img/footer/footer-mobile.png);
    background-position: 50% 100%;
    background-size: 401px auto;
    background-repeat: no-repeat;
  }
  @media screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx),
    screen and (min-device-pixel-ratio: 2) {
    .page-footer {
      background-image: url(/img/footer/footer-mobile@2x.png);
    }
  }
}

.footer-title {
  font-size: 44px;
  font-weight: 400;
  line-height: 1.22;
  letter-spacing: -0.033em;
  max-width: 335px;
}
/* FOOTER TABLET */
@media screen and (min-width: 768px) {
  .footer-ornament {
    border-top: 1px solid rgba(252, 249, 249, 0.1);
    background-image: url(/img/footer/footer-bg-tablet.png);
    background-repeat: no-repeat;
    background-position: top right;
    background-size: contain;
    padding-top: 40px;
    padding-bottom: 40px;
    max-width: 768px;
    margin: 0 auto;
  }
  @media screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx),
    screen and (min-device-pixel-ratio: 2) {
    .footer-ornament {
      background-image: url(/img/footer/footer-bg-tablet@2x.png);
      background-size: auto 401px;
    }
  }

  .footer-title {
    font-size: 54px;
    line-height: 1.18;
    max-width: 521px;
  }

  .footer-menu {
    width: auto;
    flex-wrap: nowrap;
    row-gap: 0;
    column-gap: 25px;
    margin-bottom: 80px;
  }
}
/* FOOTER DESKTOP */
@media screen and (min-width: 1280px) {
  .footer-ornament {
    border-top: 1px solid rgba(252, 249, 249, 0.1);
    background-image: url(/img/footer/footer-bg-desktop.png);
    background-repeat: no-repeat;
    background-position: bottom right;
    background-size: contain;
    padding-bottom: 40px;

    max-width: 1280px;
    margin: 0 auto;
  }

  @media screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx),
    screen and (min-device-pixel-ratio: 2) {
    .footer-ornament {
      background-image: url(/img/footer/footer-bg-desktop@2x.png);
      background-size: contain;
    }
  }
  .footer-title {
    font-size: 64px;
    line-height: 1.15;
    max-width: 754px;
  }
  .footer-menu {
    margin-bottom: 117px;
  }
}
