/* HEADER MOBILE */
.page-header {
  position: sticky;
  top: 0;
  z-index: 500;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: var(--clr-black);
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-nav {
  display: flex;
  align-items: center;
}

.header-menu-list {
  display: none;
}

.header-block {
  display: flex;
  align-items: center;
}

.header-tel {
  display: none;
}

.header-media {
  display: flex;
  gap: 12px;
}

.header-media-link {
  border-radius: 15px;
  border: 1px solid rgba(252, 249, 249, 0.1);
  background-color: rgba(252, 249, 249, 0.1);
  padding: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: border-color var(--tns-cubic), background-color var(--tns-cubic),
    box-shadow var(--tns-cubic);
}

.header-media-link:hover,
.header-media-link:focus {
  border-color: var(--clr-yellow);
  background-color: transparent;
  box-shadow: 0 0 10px 5px rgba(236, 217, 121, 0.35);
}

.header-media-icon {
  fill: var(--clr-white);
}

.mobile-menu-open-btn {
  width: 36px;
  height: 24px;
  background: transparent;
  border: none;
  margin-left: 12px;
}

.mobile-menu-btn-icon {
  stroke: var(--clr-yellow);
}

/* HEADER TABLET */
@media screen and (min-width: 768px) {
  .mobile-menu-open-btn {
    width: 44px;
    height: 30px;
    margin-left: 20px;
  }
}

/* HEADER DESKTOP */
@media screen and (min-width: 1280px) {
  .header-logo {
    margin-right: 60px;
  }

  .header-menu-list {
    display: flex;
    gap: 25px;
  }

  .header-menu-link {
    font-size: 14px;
    line-height: 1.29; /* 128.571% */
    text-transform: uppercase;
    transition: color var(--tns-cubic);
  }

  .header-menu-link:hover,
  .header-menu-link:focus {
    color: var(--clr-yellow);
  }

  .header-tel {
    display: flex;
    color: var(--clr-white);
    font-size: 14px;
    line-height: 1.43; /* 142.857% */
    text-transform: uppercase;
    gap: 10px;
    padding: 14px 28px;
    border-radius: 15px;
    border: 1px solid rgba(252, 249, 249, 0.1);
    transition: border-color var(--tns-cubic), box-shadow var(--tns-cubic);
    margin-right: 20px;
  }

  .header-tel:hover,
  .header-tel:focus {
    border-color: var(--clr-yellow);
    box-shadow: 0 0 10px 5px rgba(236, 217, 121, 0.35);
  }

  .mobile-menu-open-btn {
    display: none;
  }
}
