.hero-link {
  transition: border var(--tns-cubic);
}
.hero-link:hover,
.hero-link:focus {
  border-radius: 15px;
  border: 1px solid var(--clr-yellow);
}
@media screen and (max-width: 767px) {
  .container {
    max-width: 375px;
  }
  .hero-icon-star {
    display: none;
  }
  .hero-text {
    display: none;
  }
  .hero-img-sock {
    display: none;
  }
  .hero-link-box {
    display: flex;
    justify-content: center;
  }
  .hero-title {
    margin: 0 auto;
    margin-bottom: 20px;
    max-width: 335px;
    font-weight: 400;
    font-size: 44px;
    line-height: 1.23;
    letter-spacing: -0.033em;
  }
  .hero-custom-text {
    color: var(--clr-white);
    font-size: 14px;
    font-weight: 600;
    line-height: normal;
    letter-spacing: -0.04em;
    text-transform: uppercase;
  }
  .hero-link {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 14px 36px;
    margin-bottom: 40px;
    border-radius: 15px;
    border: 1px solid rgba(252, 249, 249, 0.1);
    gap: 10px;
  }
  .hero-link-text {
    color: var(--clr-white);
    font-size: 14px;
    font-weight: 600;
    line-height: normal;
    letter-spacing: -0.04em;
    text-transform: uppercase;
  }
  .hero-icon-arrow {
    fill: var(--clr-yellow);
  }
  .hero-img-girl {
    max-width: 100%;
    margin: 0 auto;
    border-radius: 4px;
    background-size: cover;
    background-repeat: no-repeat;
  }
}
@media screen and (min-width: 768px) {
  .page-hero .container {
    display: flex;
  }
  .hero-title {
    width: 549px;
    font-size: 54px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.19; /* 118.519% */
    letter-spacing: -0.03em;
    margin: 0.67em 0;
  }
  .hero-custom-text {
    color: var(--clr-white);
    font-size: 16px;
    font-weight: 600;
    line-height: normal;
    letter-spacing: -0.04em;
    text-transform: uppercase;
  }
  .hero-con {
    margin-right: 40px;
  }
  .hero-icon-star {
    fill: var(--clr-yellow);
    margin-bottom: 16px;
  }
  .hero-text {
    width: 115px;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.04em;
    margin-bottom: auto;
  }
  .hero-box {
    display: flex;
    flex-direction: column;
  }
  .hero-star-con {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: auto;
  }
  .hero-link {
    display: flex;
    align-items: center;
    width: 90px;
    padding: 14px 39px;
    margin-bottom: 40px;
    margin-left: 70px;
    border-radius: 15px;
    border: 1px solid rgba(252, 249, 249, 0.1);
    gap: 10px;
  }
  .hero-link-text {
    color: var(--clr-white);
    font-size: 14px;
    font-weight: 600;
    line-height: normal;
    letter-spacing: -0.04em;
    text-transform: uppercase;
  }
  .hero-icon-arrow {
    fill: var(--clr-yellow);
  }
  .hero-picture {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    width: 100%;
  }
  .hero-img-girl {
    margin: 0 auto;
    border-radius: 4px;
    background-size: cover;
    background-repeat: no-repeat;
    margin-bottom: 40px;
  }
  .hero-img-sock {
    margin-bottom: -57px;
    height: 193.909px;
  }
}
@media screen and (min-width: 1280px) {
  .hero-box-girl {
    display: flex;
    flex-direction: row-reverse;
  }
  .hero-picture {
    margin-right: 40px;
  }
  .hero-con {
    padding-top: 52px;
  }
  .hero-star-con {
    padding-top: 15px;
  }
  .hero-img-girl {
    width: 392px;
    height: 545px;
    margin-right: 50px;
  }
  .hero-box {
    margin-left: auto;
  }
  .hero-title {
    width: 518px;
  }
}
