/* MOBILE */
@media screen and (max-width: 1279px) {
  .mobile-menu {
    position: fixed;
    background-color: var(--clr-yellow);
    width: 274px;
    height: 100%;
    top: 0;
    right: 0;
    padding: 20px;

    transform: translateX(100%);
    transition: transform var(--tns-cubic);

    z-index: 501;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }

  .mobile-menu.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;

    transform: translateX(0%);
  }

  .mobile-half-box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 40%;
    width: 100%;
  }

  .mobile-menu-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .menu-tel {
    color: #1c2225;
    font-size: 12px;
    line-height: 1.17; /* 116.667% */
    text-transform: uppercase;
    gap: 10px;
    padding: 12px 20px;
    border-radius: 15px;
    border: 1px solid rgba(28, 34, 37, 0.1);
  }

  .menu-close-btn {
    background-color: transparent;
    stroke: #1c2225;
    border: none;
    width: 36px;
    height: 36px;
  }

  .mobile-menu-list {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    gap: 20px;
    width: 100%;
    /* padding-top: 150px; */
  }

  .mobile-menu-link {
    color: #1c2225;
    font-size: 14px;
    line-height: 1.29; /* 128.571% */
    text-transform: uppercase;
  }
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .mobile-menu {
    width: 380px;
  }

  .mobile-half-box {
    height: 35%;
  }

  .menu-tel {
    font-size: 14px;
    line-height: 1.43; /* 142.857% */
    padding: 14px 28px;
  }

  .menu-close-btn {
    width: 44px;
    height: 44px;
  }

  .mobile-menu-list {
    gap: 25px;
  }
}

@media screen and (max-width: 767px) {
  .mobile-menu {
    background-image: url(/img/mobile-menu/bg-menu-mobile.png);
    background-repeat: no-repeat;
    background-position: center bottom 38px;
    background-size: contain;
  }
}

@media screen and (min-resolution: 192dpi) and (max-width: 767px),
  (min-resolution: 2dppx) and (max-width: 767px),
  (min-device-pixel-ratio: 2) and (max-width: 767px) {
  .mobile-menu {
    background-image: url(/img/mobile-menu/bg-menu-mobile@2x.png);
  }
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .mobile-menu {
    width: 440px;
    padding-left: 32px;
    padding-right: 32px;
    background-image: url(/img/mobile-menu/bg-menu-tablet.png);
    background-repeat: no-repeat;
    background-position: center bottom 38px;
    background-size: contain;
  }
  /* .mobile-menu-list {
    padding-top: 60px;
  } */
}

@media screen and (min-resolution: 192dpi) and (min-width: 768px),
  (min-resolution: 2dppx) and (max-width: 767px),
  (min-device-pixel-ratio: 2) and (max-width: 767px) {
  .mobile-menu {
    background-image: url(/img/mobile-menu/bg-menu-tablet@2x.png);
  }
}

@media screen and (min-width: 1280px) {
  .mobile-menu {
    display: none;
  }
}
